<header class="header-container">
  <div class="wrap">
  <img src="dist/img/LogoLiten.jpg" alt="Logo">
  <h1>My Best Repo</h1>
  <p>Yess Sir</p>

  <a class="btn" href="#">Register to Attend</a>
</div>
</header>
