<section id="menu" class="section-container">
  <div class="wrap">
  <h2>Menu</h2>
  <p>Something menuish</p>

  <ul>
  {{#each menu}}
    <li data-id="{{id}}">
      <span class="menu-title">{{title}}</span>
      <span class="menu-count">{{count}}</span>
    </li>
  {{/each}}
</ul>
</div>
</section>
